* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
    scroll-behavior: smooth;
    background-color: #333;
    color: #fff;
}

header, main, .placeholder {
    position: relative; /* crucial for z-index to work */
  }
  
  header, main { 
    z-index: 10; 
  }
  
  .placeholder {
    z-index: 1;
    height: 177px; /* same as footer height */
  }
  
  footer {
    position: fixed;
    bottom: 0;
    z-index: 5;
    height: 177px; 
  }

div {
    display: block;
    unicode-bidi: isolate;
}


.container {
    position: relative;
    flex-grow: 1;
}

.home_hero {
  position: relative;
  z-index: 3;
  width: 100%;
  background-color: #111;
  overflow: hidden
}

.home_inner {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  height: 100svh
}

.home_wrap {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  perspective: 1000px;
  transform-style: preserve-3d;
  z-index: 0
}

.home_image {
  position: relative;
  display: grid;
  width: 100%;
  height: 100%;
  transform: translateZ(-20px);
  transform-style: preserve-3d;
  will-change: transform
}

@media only screen and (min-width: 769px) {
  .home_image {
      display:grid;
      grid-template-rows: repeat(6,1fr);
      grid-template-columns: repeat(6,1fr);
      grid-gap: min(min(3px,.1919385797vw),.3076923077svh);
      gap: min(min(3px,.1919385797vw),.3076923077svh)
  }

  .home_image[data-size=min-md] {
      display: none
  }
}

@media not screen and (min-width: 769px) {
  .home_image {
      display:grid;
      grid-template-rows: repeat(6,1fr);
      grid-template-columns: repeat(3,1fr);
      grid-gap: min(min(3px,.3926701571vw),.1958224543svh);
      gap: min(min(3px,.3926701571vw),.1958224543svh);
      transform: translateZ(-30px)
  }

  .home_image[data-size=max-md] {
      display: none
  }
}

.home_panel {
  position: relative;
  transform: rotateX(0);
  transform-style: preserve-3d;
  will-change: transform
}

.home_panel[data-hover=true] {
  transition: none;
  transform-style: preserve-3d
}

.home_panel[data-hover=true] [data-panel-item=front] {
  animation: rotate-front 1s linear forwards
}

@keyframes rotate-front {
  0% {
      transform: rotateX(360deg)
  }

  22% {
      transform: rotateX(180deg)
  }

  47% {
      transform: rotateX(-40deg)
  }

  80% {
      transform: rotateX(10deg)
  }

  to {
      transform: rotateX(0)
  }
}

.home_panel[data-hover=true] [data-panel-item=back] {
  animation: rotate-back 1s linear forwards
}

@keyframes rotate-back {
  0% {
      transform: rotateX(180deg)
  }

  22% {
      transform: rotateX(0)
  }

  47% {
      transform: rotateX(-220deg)
  }

  80% {
      transform: rotateX(-170deg)
  }

  to {
      transform: rotateX(-180deg)
  }
}

.home_panel_item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border-radius: min(min(10px,.625vw),min(10px,1.002004008vh));
  backface-visibility: hidden
}

@media not screen and (min-width: 769px) {
  .home_panel_item {
      border-radius:min(min(10px,1.1764705882vw),min(10px,.6527415144vh))
  }
}

[data-resize=true] .home_panel_item {
  background-image: none!important;
  background-image: initial!important
}

.home_panel_item[data-panel-item=front] {
  background-color: #1c1d21;
  transform: rotateX(360deg)
}

.home_panel_item[data-panel-item=back] {
  background-color: #d3ff02;
  transform: rotateX(180deg)
}

@media only screen and (min-width: 769px) {
  .home_panel[data-panel="1"] [data-panel-item=front] {
      background-image:url(../assets/hero1.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="1"] [data-panel-item=back] {
      background-image: url(../assets/hero2.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="2"] [data-panel-item=front] {
      background-image: url(../assets/hero1.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="2"] [data-panel-item=back] {
      background-image: url(../assets/hero2.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="3"] [data-panel-item=front] {
      background-image: url(../assets/hero1.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="3"] [data-panel-item=back] {
      background-image: url(../assets/hero2.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="4"] [data-panel-item=front] {
      background-image: url(../assets/hero1.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="4"] [data-panel-item=back] {
      background-image: url(../assets/hero2.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="5"] [data-panel-item=front] {
      background-image: url(../assets/hero1.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="5"] [data-panel-item=back] {
      background-image: url(../assets/hero2.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="6"] [data-panel-item=front] {
      background-image: url(../assets/hero1.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="6"] [data-panel-item=back] {
      background-image: url(../assets/hero2.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="7"] [data-panel-item=front] {
      background-image: url(../assets/hero1.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="7"] [data-panel-item=back] {
      background-image: url(../assets/hero2.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="8"] [data-panel-item=front] {
      background-image: url(../assets/hero1.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="8"] [data-panel-item=back] {
      background-image: url(../assets/hero2.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="9"] [data-panel-item=front] {
      background-image: url(../assets/hero1.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="9"] [data-panel-item=back] {
      background-image: url(../assets/hero2.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="10"] [data-panel-item=front] {
      background-image: url(../assets/hero1.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="10"] [data-panel-item=back] {
      background-image: url(../assets/hero2.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="11"] [data-panel-item=front] {
      background-image: url(../assets/hero1.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="11"] [data-panel-item=back] {
      background-image: url(../assets/hero2.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="12"] [data-panel-item=front] {
      background-image: url(../assets/hero1.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="12"] [data-panel-item=back] {
      background-image: url(../assets/hero2.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="13"] [data-panel-item=front] {
      background-image: url(../assets/hero1.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="13"] [data-panel-item=back] {
      background-image: url(../assets/hero2.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="14"] [data-panel-item=front] {
      background-image: url(../assets/hero1.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="14"] [data-panel-item=back] {
      background-image: url(../assets/hero2.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="15"] [data-panel-item=front] {
      background-image: url(../assets/hero1.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="15"] [data-panel-item=back] {
      background-image: url(../assets/hero2.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="16"] [data-panel-item=front] {
      background-image: url(../assets/hero1.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="16"] [data-panel-item=back] {
      background-image: url(../assets/hero2.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="17"] [data-panel-item=front] {
      background-image: url(../assets/hero1.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="17"] [data-panel-item=back] {
      background-image: url(../assets/hero2.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="18"] [data-panel-item=front] {
      background-image: url(../assets/hero1.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="18"] [data-panel-item=back] {
      background-image: url(../assets/hero2.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="19"] [data-panel-item=front] {
      background-image: url(../assets/hero1.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="19"] [data-panel-item=back] {
      background-image: url(../assets/hero2.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="20"] [data-panel-item=front] {
      background-image: url(../assets/hero1.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="20"] [data-panel-item=back] {
      background-image: url(../assets/hero2.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="21"] [data-panel-item=front] {
      background-image: url(../assets/hero1.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="21"] [data-panel-item=back] {
      background-image: url(../assets/hero2.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="22"] [data-panel-item=front] {
      background-image: url(../assets/hero1.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="22"] [data-panel-item=back] {
      background-image: url(../assets/hero2.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="23"] [data-panel-item=front] {
      background-image: url(../assets/hero1.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="23"] [data-panel-item=back] {
      background-image: url(../assets/hero2.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="24"] [data-panel-item=front] {
      background-image: url(../assets/hero1.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="24"] [data-panel-item=back] {
      background-image: url(../assets/hero2.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="25"] [data-panel-item=front] {
      background-image: url(../assets/hero1.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="25"] [data-panel-item=back] {
      background-image: url(../assets/hero2.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="26"] [data-panel-item=front] {
      background-image: url(../assets/hero1.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="26"] [data-panel-item=back] {
      background-image: url(../assets/hero2.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="27"] [data-panel-item=front] {
      background-image: url(../assets/hero1.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="27"] [data-panel-item=back] {
      background-image: url(../assets/hero2.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="28"] [data-panel-item=front] {
      background-image: url(../assets/hero1.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="28"] [data-panel-item=back] {
      background-image: url(../assets/hero2.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="29"] [data-panel-item=front] {
      background-image: url(../assets/hero1.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="29"] [data-panel-item=back] {
      background-image: url(../assets/hero2.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="30"] [data-panel-item=front] {
      background-image: url(../assets/hero1.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="30"] [data-panel-item=back] {
      background-image: url(../assets/hero2.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="31"] [data-panel-item=front] {
      background-image: url(../assets/hero1.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="31"] [data-panel-item=back] {
      background-image: url(../assets/hero2.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="32"] [data-panel-item=front] {
      background-image: url(../assets/hero1.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="32"] [data-panel-item=back] {
      background-image: url(../assets/hero2.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="33"] [data-panel-item=front] {
      background-image: url(../assets/hero1.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="33"] [data-panel-item=back] {
      background-image: url(../assets/hero2.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="34"] [data-panel-item=front] {
      background-image: url(../assets/hero1.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="34"] [data-panel-item=back] {
      background-image: url(../assets/hero2.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="35"] [data-panel-item=front] {
      background-image: url(../assets/hero1.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="35"] [data-panel-item=back] {
      background-image: url(../assets/hero2.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="36"] [data-panel-item=front] {
      background-image: url(../assets/hero1.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="36"] [data-panel-item=back] {
      background-image: url(../assets/hero2.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="37"] [data-panel-item=front] {
      background-image: url(../assets/hero1.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="37"] [data-panel-item=back] {
      background-image: url(../assets/hero2.png);
      background-repeat: no-repeat
  }
}

@media not screen and (min-width: 769px) {
  .home_panel[data-panel="1"] [data-panel-item=front] {
      background-image:url(../assets/hero1.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="1"] [data-panel-item=back] {
      background-image: url(../assets/hero2.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="2"] [data-panel-item=front] {
      background-image: url(../assets/hero1.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="2"] [data-panel-item=back] {
      background-image: url(../assets/hero2.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="3"] [data-panel-item=front] {
      background-image: url(../assets/hero1.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="3"] [data-panel-item=back] {
      background-image: url(../assets/hero2.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="4"] [data-panel-item=front] {
      background-image: url(../assets/hero1.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="4"] [data-panel-item=back] {
      background-image: url(../assets/hero2.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="5"] [data-panel-item=front] {
      background-image: url(../assets/hero1.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="5"] [data-panel-item=back] {
      background-image: url(../assets/hero2.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="6"] [data-panel-item=front] {
      background-image: url(../assets/hero1.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="6"] [data-panel-item=back] {
      background-image: url(../assets/hero2.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="7"] [data-panel-item=front] {
      background-image: url(../assets/hero1.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="7"] [data-panel-item=back] {
      background-image: url(../assets/hero2.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="8"] [data-panel-item=front] {
      background-image: url(../assets/hero1.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="8"] [data-panel-item=back] {
      background-image: url(../assets/hero2.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="9"] [data-panel-item=front] {
      background-image: url(../assets/hero1.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="9"] [data-panel-item=back] {
      background-image: url(../assets/hero2.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="10"] [data-panel-item=front] {
      background-image: url(../assets/hero1.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="10"] [data-panel-item=back] {
      background-image: url(../assets/hero2.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="11"] [data-panel-item=front] {
      background-image: url(../assets/hero1.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="11"] [data-panel-item=back] {
      background-image: url(../assets/hero2.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="12"] [data-panel-item=front] {
      background-image: url(../assets/hero1.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="12"] [data-panel-item=back] {
      background-image: url(../assets/hero2.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="13"] [data-panel-item=front] {
      background-image: url(../assets/hero1.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="13"] [data-panel-item=back] {
      background-image: url(../assets/hero2.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="14"] [data-panel-item=front] {
      background-image: url(../assets/hero1.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="14"] [data-panel-item=back] {
      background-image: url(../assets/hero2.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="15"] [data-panel-item=front] {
      background-image: url(../assets/hero1.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="15"] [data-panel-item=back] {
      background-image: url(../assets/hero2.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="16"] [data-panel-item=front] {
      background-image: url(../assets/hero1.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="16"] [data-panel-item=back] {
      background-image: url(../assets/hero2.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="17"] [data-panel-item=front] {
      background-image: url(../assets/hero1.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="17"] [data-panel-item=back] {
      background-image: url(../assets/hero2.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="18"] [data-panel-item=front] {
      background-image: url(../assets/hero1.png);
      background-repeat: no-repeat
  }

  .home_panel[data-panel="18"] [data-panel-item=back] {
      background-image: url(../assets/hero2.png);
      background-repeat: no-repeat
  }
}
